/* Pricing Component Styles */

.pricing-container {
  width: 100%;
  padding: 40px 20px;
  /* TODO: Add pricing container styles */
}

.pricing-tier {
  /* TODO: Add pricing tier card styles */
}

.pricing-feature-list {
  /* TODO: Add feature list styles */
}

